- if f.object.is_a?(Person)
  - %w(correspondence_general billing_general correspondence_course billing_course ).each do |prefix|
    = render 'contactable/single_address_fields', f: f, prefix: prefix
