echo PATH_add bin
export RAILS_DB_ADAPTER=mysql2
export RAILS_DB_NAME=hit_insieme_development
export RAILS_TEST_DB_NAME=hit_insieme_test
export RAILS_PRODUCTION_DB_NAME=hit_insieme_production
export RUBYOPT=-W0
export WAGONS="insieme"
