export RAILS_DB_ADAPTER=sqlite3
export RAILS_DB_NAME=db/insieme/development.sqlite3
export RAILS_TEST_DB_NAME=db/insieme/test.sqlite3
export RAILS_PRODUCTION_DB_NAME=db/insieme/production.sqlite3
export WAGONS=insieme
