= field_set_tag(caption) do
  = f.labeled_readonly_value :total_direct_costs,
                             value: format_money(entry.total_costs(lk))

  = f.labeled_input_field field, addon: t('global.currency')

  - allowance = entry.general_costs_allowance(lk)
  - allowance &&= allowance * 100
  = f.labeled_readonly_value :general_costs_allowance,
                             value: format_percent(allowance)