- title t('.title')

- content_for(:toolbar) do
  = action_button(t('.export'), url_for(format: :csv), :download)
  - if can?(:index_deep_full_people, @group)
    = Dropdown::AboAddressesExport.new(self, @group)


= table(@vereinsmitglieder.vereine, class: 'table table-striped table-hover') do |t|
  - t.attrs(:vid, :name)

  - @vereinsmitglieder.role_types do |role, index|
    - t.col(role.label_short, class: 'right', title: role.label_plural, style: 'width: 60px;') do |e|
      - fnumber(@vereinsmitglieder.count(e, index))

  - t.attrs(:full_name, :address, :zip_code, :town, :canton)
