-#  Copyright (c) 2015, insieme Schweiz. This file is part of
-#  hitobito_insieme and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito_insieme.

- unless entry.is_a?(Event::AggregateCourse)
  = render file: Rails.root.join('app/views/events/_date_fields'), locals: { f: f }
