-#  Copyright (c) 2012-2019, insieme Schweiz. This file is part of
-#  hitobito_insieme and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito_insieme.

= field_set_tag(t('event.course_records.form.betreuungsstunden')) do
  = f.labeled_readonly_value :total_stunden_betreuung,
                             label: entry.class.human_attribute_name(:total)
