
%ul.nav.nav-list.cost-accounting-menu
  %li.nav-header= t('.general')

  %li.nav-header= t('.cost_accounting')
  %li{class: current_page?(cost_accounting_group_path(group, year)) && 'active'}
    = link_to  t('.overview'), cost_accounting_group_path(group, year)
  - cost_accounting_reports.each do |report|
    - if report.editable?
      %li{class: current_page?(edit_cost_accounting_report_group_path(group, year, report.key)) && 'active'}
        = link_to(h(report.human_name),
                  edit_cost_accounting_report_group_path(group, year, report.key))
