- content_for :content do
  .row
    .span12= render 'shared/page_per_year'
  .row
    .span2
      = render 'layouts/reporting_menu'
    .span10
      = yield

= render template: "layouts/application"
